.swal2-popup {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
    text-align: center !important;
    flex-direction: column !important;
    
  }


/*   .container{
    display: none !important;
  } */